$background-color: #22223B;
$custom-text: #F2E9E4; 
$link-color: #4A4E69;
$light-color: #C9ADA7;

// Footer

footer {
    background-color: $background-color;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    color: $custom-text;
    justify-content: center;
    font-size: small;
  
    a {
      color: $link-color;
      text-decoration: none;
    }
  
    a:hover {
      color: $custom-text;
    }
    
    img {
      height: 100px;
    }
    
    p {
      padding: 2px;
    }
  
  }