$my-bg-color-dark: #22223B; //rgb(47, 1, 1);
$custom-text-color: #F2E9E4; 
$my-bg-color-light:#F2E9E4;; 
$custom-text-dark: #22223B;
$background-color: #22223B; // rgb(47, 1, 1);
$light-blue: #4A4E69;
$error-color: #ff3860;
$form-shadow: #9A8C98;
$form-border: #ccc;
$success-color: #3a5147;
$side-link-hover: #9A8C98;
//Move to Navbar scss file 
$nav-font: Georgia, 'Times New Roman', Times, serif;

